spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/clinic_db
    username: postgres
    password: 123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8094
